<section class="panel">
<h1 class="panel-heading">Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post, class: 'btn btn-primary lab-sx' %> |
<%= link_to 'Back', posts_path, class: 'btn btn-default lab-sx' %>
</section>